<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>WebRTC Test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="//www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <style>audio{max-width:100%}.pht-logo{display:block;max-width:100%}.call-history{max-height:400px;overflow-y:auto}</style>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-3">
                    <img class="pht-logo" src="//www.phonetrack.com.br/assets/images/phonetrack.png" alt="PhoneTrack">
                </div>
                <div class="col-md-9">
                    <h1>WebRTC + SIP.js <small>Beta</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="call-history">
                    <label class="control-label">Ligações</label>
                    <table class="table table-condensed table-striped">
                        <tbody>
                            <script type="text/template" id="tpl-history">
                                <% _.each(history, function(item) { %>
                                    <tr>
                                        <td>
                                            Destino: <%= item.to %> <br>
                                            Status: <%= item.status %> <br>
                                            Id da chamada: <%= item.callId %> <br>
                                            Hora de início da chamada: <%= dateTime(item.startTime) %> <br>
                                            Hora de fim da chamada: <%= dateTime(item.endTime) %> <br>
                                            Tempo da chamada: <%= duration(item.totalTime) %> <br>
                                        </td>
                                    </tr>
                                <% }); %>
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <form id="call-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="phone-input">Número</label>
                                        <input type="text" class="form-control input-form-number" placeholder="Número"
                                            id="phone-input" tabindex="1" />
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success btn-form-call">
                                            <i class="fa fa-phone"></i>
                                            Ligar
                                        </button>
                                        <button class="btn btn-danger btn-form-end">
                                            <i class="fa fa-ban"></i>
                                            Encerrar
                                        </button>
                                        <button class="btn btn-default btn-form-mute">
                                            <i class="fa fa-microphone"></i>
                                            Silenciar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <audio controls class="remote-player"></audio>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="phone-book">
                            <label class="control-label">Números discados</label>
                            <table class="table table-condensed table-striped">
                                <tbody>
                                    <script type="text/template" id="tpl-book">
                                        <% _.each(book, function(item) { %>
                                            <tr>
                                                <td>
                                                    <a href="#" data-number="<%= item %>"><%= item.substr(0, item.indexOf("@")) %></a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </script>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2><a id="Instalao_3"></a>Instalação</h2>
                <pre><code class="language-sh">$ npm install pht-webrtc</code></pre>
                <p>Você pode importar o módulo:</p>
<pre>
<code class="language-javascript"><span class="hljs-comment">// ES6 modules</span>
<span class="hljs-keyword">import</span> { PhTWebRTC } <span class="hljs-keyword">from</span> <span class="hljs-string">"pht-webrtc"</span>;

<span class="hljs-comment">// commonjs</span>
<span class="hljs-keyword">var</span> PhTWebRTC = <span class="hljs-built_in">require</span>(<span class="hljs-string">"pht-webrtc"</span>);
</code></pre>
                <p>Ou incluir o script diretamente na sua página:<br></p>
<pre><code>&lt;script type=“text/javascript” src=“pht-webrtc/dist/pht-webrtc.min.js”&gt;&lt;/script&gt;</code></pre>
                <h3><a id="Exemplo_de_utilizao_21"></a>Exemplo de utilização</h3>
<pre><code class="language-javascript"><span class="hljs-keyword">var</span> phtWebRTC = <span class="hljs-keyword">new</span> PHTWebRTC();

<span class="hljs-comment">// Informe as credenciais SIP:</span>
phtWebRTC.setSipCredentials({
    uri: <span class="hljs-string">'bob@example.onsip.com'</span>,
    wsServers: [<span class="hljs-string">'wss://sip-ws.example.com'</span>],
    authorizationUser: <span class="hljs-string">''</span>,
    password: <span class="hljs-string">''</span>
});

<span class="hljs-comment">// Selecione o player</span>
phtWebRTC.setRemotePlayer(<span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">"remote-player"</span>));

<span class="hljs-comment">// Faz a solicitação de conexão no servidor SIP</span>
phtWebRTC.initialize();
</code></pre>
                <h2><a id="Documentao_da_API_41"></a>Documentação da API</h2>
                <h3><a id="Mtodos_43"></a>Métodos</h3>
                <h4><a id="call_45"></a>call</h4>
                <p>Inicia uma chamada para um determinado destino.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>target</td>
                            <td>String</td>
                            <td>Destino na ligação. Ex. 554199999999</td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <p><code>Emite</code> onSentInvite</p>
                <h4><a id="end_60"></a>end</h4>
                <p>Encerra a chamada ativa.</p>
                <p><code>Parâmetros</code> Nenhum.</p>
                <p><code>Emite</code> onHangup</p>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <h4><a id="toggleMute_69"></a>toggleMute</h4>
                <p>Alterna o estado <em>mute</em> da chamada.</p>
                <p><code>Parâmetros</code> Nenhum.</p>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <p><code>Emite</code> onSessionMuted</p>
                <h4><a id="setSipCredentials_78"></a>setSipCredentials</h4>
                <p>Define as credenciais de autenticação SIP.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>credentials</td>
                            <td>Object</td>
                            <td>Objeto com as credenciais para conexão</td>
                        </tr>
                        <tr>
                            <td>credentials.url</td>
                            <td>String</td>
                            <td>SIP URI associado ao usuário. ex: <a href="mailto:bob@example.onsip.com">bob@example.onsip.com</a></td>
                        </tr>
                        <tr>
                            <td>credentials.wsServers</td>
                            <td>Array</td>
                            <td>Array com os servidores websocket. ex: [“wss://sip-ws.example.com”]</td>
                        </tr>
                        <tr>
                            <td>credentials.authorizationUser</td>
                            <td>String</td>
                            <td>Usuário SIP</td>
                        </tr>
                        <tr>
                            <td>credentials.password</td>
                            <td>String</td>
                            <td>Senha de usuário SIP</td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <h4><a id="setRemotePlayer_93"></a>setRemotePlayer</h4>
                <p>Define o player onde será executado o outro lado da chamada.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>element</td>
                            <td>DOM Element Object</td>
                            <td>Elemento DOM &lt;audio&gt; ou &lt;video&gt;</td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <h4><a id="setRecordBaseUrl_104"></a>setRecordBaseUrl</h4>
                <p>Define a url base das gravações</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>url</td>
                            <td>String</td>
                            <td>URL base das gravações. ex: <a href="http://sip3.phonetrack.com.br/records">http://sip3.phonetrack.com.br/records</a></td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <h4><a id="setRTCConstraints_115"></a>setRTCConstraints</h4>
                <p>Define as contraints de WebRTC para <em>navigator.getUserMedia()</em></p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>constraints</td>
                            <td>Object</td>
                            <td>Objeto de definição das constraints</td>
                        </tr>
                        <tr>
                            <td>constraints.audio</td>
                            <td>Boolean</td>
                            <td>Indica se será usado o recurso de entrada de áudio (microfone)</td>
                        </tr>
                        <tr>
                            <td>constraints.video</td>
                            <td>Boolean/Object</td>
                            <td>Indica se será usado o recurso de entrada de vídeo (câmera), ou Objecto com as configurações de vídeo</td>
                        </tr>
                        <tr>
                            <td>constraints.video.width</td>
                            <td>Object</td>
                            <td>Objeto com as cnfigurações largura do vídeo</td>
                        </tr>
                        <tr>
                            <td>constraints.video.width.min</td>
                            <td>Number</td>
                            <td>Valor mínimo para largura de vídeo</td>
                        </tr>
                        <tr>
                            <td>constraints.video.width.max</td>
                            <td>Number</td>
                            <td>Valor máximo para largura de vídeo</td>
                        </tr>
                        <tr>
                            <td>constraints.video.height</td>
                            <td>Object</td>
                            <td>Objeto com as cnfigurações altura do vídeo</td>
                        </tr>
                        <tr>
                            <td>constraints.video.height.min</td>
                            <td>Number</td>
                            <td>Valor mínimo para altura de vídeo</td>
                        </tr>
                        <tr>
                            <td>constraints.video.height.max</td>
                            <td>Number</td>
                            <td>Valor máximo para altura de vídeo</td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <p><a href="https://webrtc.github.io/samples/src/content/peerconnection/constraints">Saiba mais sobre WebRTC
                        Constraints &amp; statistics</a></p>
                <h4><a id="setMediaStream_136"></a>setMediaStream</h4>
                <p>Caso já tenha um MediaStream criado, pode ser usado nas chamadas.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>mediaStream</td>
                            <td>MediaStream</td>
                            <td>Objeto do tipo MediaStream criado pelo <em>navigator.getUserMedia()</em></td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Retorno</code> Instância PhTWebRTC</p>
                <p><a href="https://developer.mozilla.org/pt-BR/docs/Web/API/MediaStream">Saiba mais sobre MediaStream</a></p>
                <h3><a id="Eventos_149"></a>Eventos</h3>
                <p>Exemplo de utilização de evento:</p>
                <pre><code class="language-javascript">phtWebRTC.on(<span class="hljs-string">"onSentInvite"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">event</span>) </span>{
                    alert(<span class="hljs-string">"Ligação iniciada! Id da ligação: "</span> + event.data.call.callId);
                });
                </code></pre>
                <h4><a id="onSentInvite_158"></a>onSentInvite</h4>
                <p>Disparado quando um SIP invite é enviado.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.call</td>
                            <td>PHTCall</td>
                            <td>Detalhes da chamada</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onHangup_168"></a>onHangup</h4>
                <p>Disparado quando a ligação é encerrada.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.call</td>
                            <td>PHTCall</td>
                            <td>Detalhes da chamada</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionProgress_178"></a>onSessionProgress</h4>
                <p>Disparado cada vez que uma resposta provisória SIP (100-199) é recebida.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.response</td>
                            <td>SIP.IncomingResponse</td>
                            <td>Resposta do servidor SIP</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionAccepted_188"></a>onSessionAccepted</h4>
                <p>Disparado cada vez que uma chamada é aceita pelo destino e uma resposta (200-299) é recebida.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>response</td>
                            <td>SIP.IncomingResponse</td>
                            <td>Resposta do servidor SIP</td>
                        </tr>
                        <tr>
                            <td>status</td>
                            <td>String</td>
                            <td>Status de atendimento</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionBye_198"></a>onSessionBye</h4>
                <p>Disparado quando um SIP BYE é enviado ou recebido.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.response</td>
                            <td>SIP.IncomingResponse</td>
                            <td>Resposta do servidor SIP</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionTerminated_208"></a>onSessionTerminated</h4>
                <p>Disparado quando uma sessão é destruída, seja antes ou depois de ter sido aceita.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.response</td>
                            <td>SIP.IncomingResponse</td>
                            <td>Resposta do servidor SIP</td>
                        </tr>
                        <tr>
                            <td>data.cause</td>
                            <td>String</td>
                            <td>Causa do termino da chamada</td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Emite</code> onHangup</p>
                <h4><a id="onSessionRejected_221"></a>onSessionRejected</h4>
                <p>Disparado a cada vez que uma mal-sucedida resposta é recebida (300-699).</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.response</td>
                            <td>SIP.IncomingResponse</td>
                            <td>Resposta do servidor SIP</td>
                        </tr>
                        <tr>
                            <td>data.cause</td>
                            <td>String</td>
                            <td>Causa do termino da chamada</td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Emite</code> onSessionTerminated, onSessionFailed</p>
                <h4><a id="onSessionFailed_234"></a>onSessionFailed</h4>
                <p>Disparado quando uma requisição falha. Esse evento só será emitido por sessões que ainda não foram aceitas.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.response</td>
                            <td>SIP.IncomingResponse</td>
                            <td>Resposta do servidor SIP</td>
                        </tr>
                        <tr>
                            <td>data.cause</td>
                            <td>String</td>
                            <td>Causa do termino da chamada</td>
                        </tr>
                    </tbody>
                </table>
                <p><code>Emite</code> onSessionTerminated</p>
                <h4><a id="onSessionCancel_247"></a>onSessionCancel</h4>
                <p>Disparada quando uma ligação é cancelada pelo cliente.</p>
                <p><code>Parâmetros</code> Nenhum</p>
                <p><code>Emite</code> onSessionTerminated</p>
                <h4><a id="onSessionRefer_254"></a>onSessionRefer</h4>
                <p>Disparado quando uma referência é recebida, e que o usuário gostaria de lidar com a transferência no nível da
                    aplicação.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.request</td>
                            <td>SIP.IncomingRequest</td>
                            <td>Requisição SIP REFER</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionReplaced_264"></a>onSessionReplaced</h4>
                <p>Disparado quando um INVITE com substituição causou essa sessão para terminar e ser substituído por uma nova sessão.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.newSession</td>
                            <td>SIP.Session</td>
                            <td>Nova sessão</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionDtmf_274"></a>onSessionDtmf</h4>
                <p>Disparado quando é enviado ou receibo um DTMF.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.request</td>
                            <td>SIP.IncomingRequest</td>
                            <td>Requisição SIP</td>
                        </tr>
                        <tr>
                            <td>data.dtmf</td>
                            <td>SIP.Session.DTMF</td>
                            <td>Instância DTMF</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionMuted_286"></a>onSessionMuted</h4>
                <p>Disparado quando é acionado o estado <em>mute</em> do mediaHandler.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.audio</td>
                            <td>Boolean</td>
                            <td>Indica se o stream de áudio está no estudo de <em>mute</em></td>
                        </tr>
                        <tr>
                            <td>data.video</td>
                            <td>Boolean</td>
                            <td>Indica se o stream de vídeo está no estudo de <em>mute</em></td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onSessionUnmuted_297"></a>onSessionUnmuted</h4>
                <p>Disparado quando é desligado o estado <em>mute</em> do mediaHandler.</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.audio</td>
                            <td>Boolean</td>
                            <td>Indica se o stream de áudio está no estudo de <em>mute</em></td>
                        </tr>
                        <tr>
                            <td>data.video</td>
                            <td>Boolean</td>
                            <td>Indica se o stream de vídeo está no estudo de <em>mute</em></td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="onUserAgentConnected_308"></a>onUserAgentConnected</h4>
                <p>Disparado quando a conexão WebSocket é estabelecida.</p>
                <p><code>Parâmetros</code> Nenhum</p>
                <h4><a id="onUserAgentDisconnected_313"></a>onUserAgentDisconnected</h4>
                <p>Disparado quando a conexão WebSocket é desligada.</p>
                <p><code>Parâmetros</code> Nenhum</p>
                <h4><a id="onUserAgentRegistered_318"></a>onUserAgentRegistered</h4>
                <p>Disparado quando o SIP.register é bem sucedido.</p>
                <p><code>Parâmetros</code> Nenhum</p>
                <h4><a id="onUserAgentRegistrationFailed_323"></a>onUserAgentRegistrationFailed</h4>
                <p>Disparado quando o SIP.register falha</p>
                <p><code>Parâmetros</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>Object</td>
                            <td>Objeto com dados do evento</td>
                        </tr>
                        <tr>
                            <td>data.cause</td>
                            <td>String</td>
                            <td>Causa da falha</td>
                        </tr>
                        <tr>
                            <td>data.response</td>
                            <td>SIP.IncomingResponse</td>
                            <td>Resposta do servidor SIP</td>
                        </tr>
                    </tbody>
                </table>
                <h3><a id="Objetos_334"></a>Objetos</h3>
                <h4><a id="PhTCall_336"></a>PhTCall</h4>
                <p>Objeto que representa uma ligação</p>
                <p><code>Propriedades</code></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Valor padrão</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>callId</td>
                            <td>String</td>
                            <td>null</td>
                            <td>Id da chamada</td>
                        </tr>
                        <tr>
                            <td>to</td>
                            <td>String</td>
                            <td>null</td>
                            <td>Destino da chamada</td>
                        </tr>
                        <tr>
                            <td>from</td>
                            <td>String</td>
                            <td>null</td>
                            <td>Origem da chamada</td>
                        </tr>
                        <tr>
                            <td>recordUrl</td>
                            <td>String</td>
                            <td>null</td>
                            <td>URL da gravação da chamada</td>
                        </tr>
                        <tr>
                            <td>status</td>
                            <td>String</td>
                            <td>null</td>
                            <td>Status de termino da chamada</td>
                        </tr>
                        <tr>
                            <td>startTime</td>
                            <td>Unix Timestamp</td>
                            <td>null</td>
                            <td>Timestamp de início da chamada</td>
                        </tr>
                        <tr>
                            <td>endTime</td>
                            <td>Unix Timestamp</td>
                            <td>null</td>
                            <td>Timestamp de fim da chamada</td>
                        </tr>
                        <tr>
                            <td>totalTime</td>
                            <td>Unix Timestamp</td>
                            <td>null</td>
                            <td>Timestamp do diferencial do fim e início da chamada</td>
                        </tr>
                    </tbody>
                </table>
                <h4><a id="SIPIncomingResponse_352"></a>SIP.IncomingResponse</h4>
                <p><a href="http://sipjs.com/api/0.7.0/sipMessage">Veja a especificação do objeto aqui.</a></p>
                <h4><a id="SIPIncomingRequest_355"></a>SIP.IncomingRequest</h4>
                <p><a href="http://sipjs.com/api/0.7.0/sipMessage">Veja a especificação do objeto aqui.</a></p>
                <h4><a id="SIPSession_358"></a>SIP.Session</h4>
                <p><a href="http://sipjs.com/api/0.7.0/session">Veja a especificação do objeto aqui.</a></p>
                <h4><a id="SIPSessionDTMF_361"></a>SIP.Session.DTMF</h4>
                <p><a href="http://sipjs.com/guides/send-dtmf">Veja a especificação do objeto aqui.</a></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="dist/demo.js"></script>
    <script type="text/javascript">
        new PHTWebRTC.Example({
            apiKey: "AIzaSyCRw4XYKG5tJsTsWd4kQcoOK3Ohb7mHUtM",
            authDomain: "test-7c523.firebaseapp.com",
            databaseURL: "https://test-7c523.firebaseio.com",
            storageBucket: "test-7c523.appspot.com",
        });
    </script>
</body>

</html>
